<div class="jennystart_block">
    <p>JennystartXBlock: count is now
        <span class='count'>{self.count}</span> (click me to increment).
    </p>

    <p>CodeMirror</p>
    <textarea id="code" name="code" >
    {{codeData}}
    </textarea>
    </br>

    <input type="button" value="save" id="save"/>
    <input type="button" value="cancel" id="cancel"/>

</div>
